@import "variables";
@import "mixins";

// general

.block h2,
.block_tab-title {
	margin: 0 0 0.5em;

	line-height: 24px;
	color: $orange-rich;
	font-size: 24px;
	font-weight: bold;
}

.block .searchForm {
	margin: 1em 0;

	text-align: center;
}

// footer details
#block-block-3 {
	position: absolute;
	top: 0;
	left: 0;
}

.region-footer {
	.block {
		float: right;
		clear: both;
	}
}

// adjust main menu
#block-system-main-menu {
	margin-top: 5px;
}

// search block
.block-search {
	position: relative;

	input[type="text"] {
		padding: 0.5em 2em 0.5em 0.642857143em;

		background: url(../images/transparent-white.png);
		border: 1px solid white;
		border-radius: 0.5em;
		color: white;
		outline: none;

		&:focus {
			border-color: white;
		}

		&::-webkit-input-placeholder { color: white; }
		&:-moz-placeholder { color: white; }
		&::-moz-placeholder { color: white; }
		&:-ms-input-placeholder { color: white; }
	}

	input[type="submit"] {
		position: absolute;
		top: 3px;
		right: 3px;
		width: 25px;
		height: 25px;

		text-indent: -9999px;
		background: url(../images/searchButton.png) center center no-repeat;
		border: none;
	}
}

// countdown block
.eventCountdown {
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	text-shadow: 0 1px 1px rgba(255,255,255, 0.5);

	.darkBlock {
		display: block;
		padding: 0.25em 0.5em;

		background: black;
		border-radius: 3px;
		font-size: 18px;
		color: white;
	}
}

// event registration block
#block-r2ep-r2ep-event-registration-block {
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-size: 21px;
	font-weight: bold;

	text-shadow: 0 1px 1px rgba(255,255,255, 0.5);

	.large {
		font-size: 34px;
		line-height: 1.2em;
	}

	a { color: black; }
	a:hover { text-decoration: none; }
}

// language switcher
#block-locale-language {
	ul {
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;
		*display: inline;
		*zoom: 1;
		margin: 10px 0 0 7px;
		padding: 0 0 0 8px;

		list-style: none;
		border-left: 1px solid white;

		&:first-child { border: none; }
	}

	a { color: white; }
	a:hover,
	a.active { color: black; }
}


#block-block-1, // sign in block
#block-block-19 { // sign out
	margin-top: 10px;

	a { color: white; }
	a:hover { color: black; }
}

// region layouts
.region-header-top .block {
	float: left;
	margin-left: 1em;
}

.region-header-bottom .block {
	float: left;
	margin-left: 0.5em;
}

.region-post-content {
	.block {
		float: left;
		width: 50%;

		h2 { text-align: center; }
	}
}

// footer SM
#block-block-21 {
	margin-top: 0.5em;
}

// sidebar style
.region-sidebar-second {
	.block {
		margin-top: 1em;
		padding-top: 2.5em;
		background: url(../images/grey-divider.png) top right no-repeat;

		&:first-child {
			padding-top: 0;
			background: none;
		}
	}

	h2 {
		text-align: center;
		font-size: 24px;
		color: $orange-rich;
	}
}