// inline labels
.field.field-label-inline {
	.field-label {
		display: inline;
		float: none;
	}

	.field-items {
		display: inline-block;
		float: none;
	}

	.field-item {
		display: block;
	}
}


.field-name-field-campaign-count,
.field-name-field-total-donations,
.field-name-field-donation-count {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding-right: 1em;
}