@import "variables";
@import "mixins";

.btn {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 5px 10px;

	color: white;
	background: $orange-rich;
	border: 1px solid $orange-rich;
	font-size: 25px;
	line-height: 25px;
	border-radius: 10px;
	text-align: center;

	&:visited {
		color: white;
	}
}

.btn--block {
	display: block;

}

input[type=text], input[type=password],
input[type=number], input[type=email],
textarea {
	max-width: 100%;
	background: white;
	padding: 5px 7px;
	border: 1px solid $grey-light;
	border-radius: 0.25em;
	outline: none;

	-webkit-transition: box-shadow 0.2s linear;

	&:hover {
		box-shadow: 0 0 10px rgba(0,0,0, 0.4);
	}

	&:focus {
		border: 1px solid $orange-rich;
		box-shadow: 0 0 10px rgba(0,0,0, 0.4);
	}
}

.searchForm {
	form {
		display: inline;
		position: relative;
	}

	input[type=text] {
		padding-right: 35px;
	}

	input[type="submit"] {
		position: absolute;
		top: -4px;
		right: 3px;
		width: 25px;
		height: 25px;

		color: transparent;
		text-indent: -9999px;
		background: url(../images/searchButton-grey.png) center center no-repeat;
		border: none;
	}
}

[class*='col-'] .form-item {
	margin: 0 0 0.5em;
}

.form-radios {
	.form-item {
		display: inline-block;
		*display: inline;
		*zoom: 1;
		padding-right: 0.5em;
	}

	input {
		margin-top: -4px;
	}
}

label {
	font-weight: normal;
}

fieldset {
	border: none;
	margin: 1em 0;

	legend {
		width: 100%;
		font-weight: bold;
		background: url(../images/grey-divider.png) top right no-repeat;

		span {
			display: inline-block;
			*display: inline;
			*zoom: 1;
			padding-right: 5px;

			background: #f4f4f4;
		}
	}
}

// hide filter info
.filter-wrapper {
	display: none;
}


// email form
#views-form-share-campaign-page {
	#edit-from, #edit-to,
	#edit-token, #edit-additional { display: none; }

	.form-item-views-send-direct,
	.form-item-views-send-carbon-copy,
	.form-item-views-send-remember { display: none; }
}
