@import "variables";
@import "mixins";

$padding: 1em;

.gridContainer {
	margin-left: -$padding;

	@include clearfix;
}

[class*="col-"] {
	float: left;
	margin: 0;
	padding-left: $padding;
}

@for $i from 1 through 10 {
	@for $j from 1 through $i {
		.col-#{$j}-#{$i} {
			width: $j/$i *100%;
		}
	}
}


ul.gridContainer {
	margin: 0; // sass is messed
	margin-left: -$padding;
	padding: 0;

	> li[class*="col-"] {
		margin: 0;
		padding: 0 0 0 $padding;
		list-style: none;
	}
}

