ul.menu {
	margin: 0;
	padding: 0;

	li, li.leafs {
		position: relative;
		display: inline-block;
		*display: inline;
		*zoom: 1;
		list-style: none;
		list-style-image: none;

		margin: 0 0 0 7px;
		padding: 0;

		list-style: none;

		&.first { margin-left: 0; }
	}

	a, span {
		display: block;

		font-size: 1.142857143em;
		color: black;
		text-transform: uppercase;
		padding-bottom: 0.5em;
		font-weight: bold;

		&:hover {
			color: white;
			text-decoration: none;
		}
		&.active {
			color: white;
		}
	}

	li.expanded:hover {
		> a, > span { background: url(../images/menu_nub.png) bottom no-repeat; }
	}

	ul {
		position: absolute;
		top: 100%;
		left: -20px;
		padding: 4px;

		background: #262626 url(../images/menu-drop-bg.png) top repeat-x;

		.no-js & { display: none; }
	}

	ul li {
		display: block;
		margin: 0.5em 0.8em;
		white-space: nowrap;

		&:first-child { margin-left: 0.8em; }
	}

	ul {
		a, span {
			display: block;
			color: white;
			font-weight: normal;
			font-size: 14px;

			&.active, &:hover {
				color: $orange-dark;
				text-decoration: none;
			}
		}
	}

	.no-js & li:hover ul { display: block; }
}

.menu-tight ul.menu {
	li {
		margin-left: 5px;
		padding-left: 6px;

		border-left: 1px solid white;

		&:first-child {
			border-left: none;
		}

		a, span {
			font-size: 1em;
			padding-bottom: 0;
		}
	}
}

.menu-white ul.menu {
	a, span {
		color: white;

		&:hover,
		&.active {
			color: $orange-rich;
		}
	}
}


.region-banner ul.menu {
	li {
		display: block;
		margin: .5em 0 0;
	}

	a, span {
		display: block;
		padding-bottom: 0;

		color: $orange-rich;
		text-align: center;
		text-transform: uppercase;
		font-size: 18px;
	}

	a { color: $orange-rich; }

	span {
		color: white;
		font-size: 16px;
		text-transform: none;

		&:hover { color: white; }
	}
}