ul.stats-list {
	margin: 0;

	> li {
		display: inline-block;
		*display: inline;
		*zoom: 1;
		width: 32%;
		margin: 0;

		font-size: 22px;
		color: black;
		text-align: center;

		background: url(../images/stats-div.png) left no-repeat;

		&.first {
			background: none;
		}

		a { color: black; }
		a:hover { text-decoration: none; }
	}

	img {
		margin-right: 7px;
		margin-top: -4px;
		vertical-align: middle;
	}

	.runners { }
	.raised { }
	.teams { }
}

.views-exposed-form .views-exposed-widget .form-submit { margin: 0; }

// hide filter fields
#edit-field-event-target-id-wrapper,
#edit-team-id-wrapper { display: none; }