@import "variables";
@import "mixins";

#block-r2ep-team-r2ep-team-join-block {

	input[type="submit"] {
		display: block;
		width: 100%;
		padding: 5px 10px;

		font-size: 25px;
		color: white;
		text-align: center;
		background: $orange-dark;
		border: $orange-rich;
		border-radius: 10px;
	}
}

.node-team .field-name-field-event {
	margin: 1em 0;
}

// hide exposed filter
#edit-nid-wrapper { display: none; }
.form-item-sort-by label { display: none; }