// general
.views-label {
	font-weight: bold;
}


// events listings
div .mediaList {
	li.views-row {
		margin: 0 0 1em;
	}

	.mediaList-image {
		text-align: center;

		.field-content {
			position: relative;
			display: inline-block;
			max-width: 100%;
			*display: inline;
			*zoom: 1;
			padding: 3px;

			background: white;
			border-radius: 3px;
			border: 1px solid #d2d2d2;

			img { display: block; }
		}
	}

	.views-row:nth-child(4n-3) {
		clear: left;
	}

	.button--play {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 35px;
		height: 39px;
		margin: -19px 0 0 -17px;

		background: url(../images/play.png) center no-repeat;
		pointer: cursor;
	}
}

// contact block
#block-views-event-contact-info-block {

	.views-field {
		text-align: center;
		padding: 0 0 0.25em;
	}

	.views-field-field-contact-name {
		color: $orange-rich;
		font-size: 16px;
		font-weight: bold;
	}
}

// sidebar pic
#block-views-team-picture-block,
#block-views-runner-avatar-block {
	img {
		display: block;
		padding: 2px;

		border: 1px solid lightGrey;
	}
}

