@import "variables";

img {
	max-width: 100%;
}



// thumb-list
.thumb-list {
	li {
		text-align: center;
	}

	img {
		padding: 2px;
		border: 1px solid $grey-light;
	}
}

#block-system-main {
	.field-name-body img {
		padding: 2px;
		border: 1px solid lightGrey;

		&.right {
			float: right;
			margin-left: 5px;
		}
		&.lieft {
			float: left;
			margin-right: 5px;
		}
	}
}