@import "variables";
@import "mixins";

* {
	box-sizing: border-box;
}

.globalContainer {
	position: relative;
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

.floatLeft { float: left; }

.clearfix { @include clearfix; }


// Site Structure
html, body {
	min-height: 100%;
}

body {
	background: #252525 url(../images/cheers.png) bottom no-repeat;
}

header[role='banner'] {
	position: relative;
	padding: 10px 0;

	background: $orange-dark url(../images/header-bg.jpg) top no-repeat;
	box-shadow: 0 0 10px #333;
	z-index: 15;

	.globalContainer {
		padding-right: 125px;
	}
}

.region-banner {
	position: absolute;
	top: -10px;
	right: 0;
	width: 117px;
	height: 175px;
	padding: 11px 22px 30px 17px;

	background: url(../images/banner-bg.png) top left no-repeat;
	text-align: center;
	z-index: 15;
}

.region-header-left {
	float: left;
}

.region-header-top {
	float: right;
	margin-bottom: 12px;
	padding-bottom: 21px;

	background: url(../images/borderWhite.png) bottom repeat-x;

	@include clearfix;
}

.region-header-bottom {
	clear: right;
	float: right;
	margin: 0;

	@include clearfix;
}

.region-hightlighted {}

.region-stats {
	position: relative;
	z-index: 10;
	padding: 12px 0;

	background: $orange-dark url(../images/stats-bg.jpg) top no-repeat;
	border-top: 1px solid $orange-dark;
	border-bottom: 1px solid $orange-dark;
	box-shadow: 0 0 10px #333;

	> .globalContainer {
		width: 790px;
	}
}

.region-title {
	padding: 20px 0;

	background: #252525;
	color: white;

	body.front & {
		.globalContainer {
			padding-right: 110px;
			background: url(../images/runner-big.png) right 40px no-repeat;
		}

		.page-content {
			padding-right: 20px;
		}
	}
}

.page-wrapper {
	position: relative;
	z-index: 10;
	padding: 1em 0;

	background: #f4f4f4;
	border-top: 1px solid $orange-dark;
	border-bottom: 1px solid $orange-dark;
	box-shadow: 0 0 10px #333;
}

.content-wrapper {
	float: left;
	width: 100%;

	body.one-sidebar &, body.two-sidebars & {
		width: 720px;
		padding-right: 20px;
	}
}

.region-post-content {
	margin: 1em 0 0;

	background: url(../images/post-content-bg.png) top center no-repeat;
}

.region-sidebars {
	float: left;
	width: 220px;
}

.region-sidebar-first {
	margin-top: -1em;
	padding-bottom: 3em;

	background: url(../images/sidebar-top-bg.png) bottom no-repeat;

	> div {
		background: $orange-dark url(../images/sidebar-top-glow.png) top no-repeat;
	}

	> div > div {
		min-height: 130px;
		margin: 0 4px;
		padding: 1em;

		border-left: 1px solid black;
		border-right: 1px solid black;
	}
}

.page-bottom-bottom {
	margin-top: 2em;
	padding-top: 3em;
	background: url(../images/grey-divider.png) top right no-repeat;
}

.region-bottom-one {
	float: left;
	width: 50%;
	padding-left: 1em;
}

.region-bottom-two {
	float: left;
	width: 100%;
	padding-left: 1em;

	.region-bottom-one + & {
		width: 50%;
	}
}

footer[role='contentinfo'] {
	padding: 20px 0 80px;

	border-top: 1px solid $orange-dark;
	font-size: 0.857142857em;
	color: white;
}