@import "variables";
@import "mixins";

* {
	box-sizing: border-box;
}

.globalContainer {
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

.floatLeft { float: left; }

.clearfix { @include clearfix; }


// Site Structure
html, body {
	min-height: 100%;
}

body {
	background: #252525 url(../images/cheers.png) bottom no-repeat;
}

header[role='banner'] {
	padding: 10px 0;

	background: $orange-dark url(../images/header-bg.jpg) top no-repeat;
}

.region-banner {}
.region-header-top {
	margin-bottom: 12px;
	padding-bottom: 21px;

	background: url(../images/borderWhite.png) bottom repeat-x;

	@include clearfix;
}

.region-header-bottom {
	margin: 12px 0;

	@include clearfix;
}

.region-hightlighted {}

.region-stats {
	position: relative;
	z-index: 10;
	padding: 12px 0;

	background: $orange-dark url(../images/stats-bg.jpg) top no-repeat;
	border-top: 1px solid $orange-dark;
	border-bottom: 1px solid $orange-dark;
	box-shadow: 0 0 10px #333;

	> .globalContainer {
		width: 790px;
	}
}

.region-title {
	padding: 20px 0;

	background: #252525;
	color: white;
}

.content-wrapper {
	position: relative;
	z-index: 10;
	padding: 1em 0;

	background: #f4f4f4;
	border-top: 1px solid $orange-dark;
	border-bottom: 1px solid $orange-dark;
	box-shadow: 0 0 10px #333;
}

.page-content {
	float: left;
	width: 100%;

	body.one-sidebar &, body.two-sidebars & {
		width: 720px;
		padding-right: 20px;
	}
}

.region-sidebars {
	float: left;
	width: 220px;
}

.region-post-content { }

#bottom { }

footer[role='contentinfo'] {
	padding: 40px 0 80px;

	border-top: 1px solid $orange-dark;
	font-size: 0.857142857em;
}