@import "variables";

.block_tab-title {
	margin: 0;
	padding: 0 20px;

	background: none;
	border-left: 1px solid $orange-rich;
	color: $orange-rich;

	text-decoration-color: red;

	&.active, &:hover {
		background: none;
		color: black;
	}

	&:first-child {
		margin-left: 0;
		font-weight: normal;
	}
}