@import "variables";
@import "mixins";

.block_tab-titles {
	@include clearfix;
}

.block_tab-title {
	float: left;
	margin: 0 0 0.27em;
	padding: 0 20px;

	background: none;
	border-left: 1px solid $orange-rich;

	&.active, &:hover {
		background: none;
		color: black;
		text-decoration: none;

		span {
			border-bottom: 3px solid $orange-rich;
		}
	}

	&:first-child {
		margin-left: 0;
		padding-left: 0;
		border-left: none;
	}

	span {
		display: block;
		padding-bottom: 3px;
	}
}