// general
.views-label {
	font-weight: bold;
}


// events listings
div .events-list {
	li.views-row {
		margin: 0 0 1em;
	}

	.views-row:nth-child(4n-3) {
		clear: left;
	}

	.views-field-field-featured-image {
		text-align: center;

		.field-content {
			display: inline-block;
			*display: inline;
			*zoom: 1;
			padding: 3px;

			background: white;
			border-radius: 3px;
			border: 1px solid #d2d2d2;

			img { display: block; }
		}
	}
}

// contact block
#block-views-event-contact-info-block {

	.views-field {
		text-align: center;
		padding: 0 0 0.25em;
	}

	.views-field-field-contact-name {
		color: $orange-rich;
		font-size: 16px;
		font-weight: bold;
	}
}